doctype html5
head
  title Google
  meta(name="viewport" content="")
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="fontawesome-free-5.0.1/css/fontawesome-all")
  link(rel="stylesheet", href="css/bootstrap.min.css")
body
  div.menu-superior
    div
      ul.link
        li: a(href="#") Gmail
        li: a(href="#") Imágenes
    div
      div: div.menu-hamburguesa
      div.img-avatar: img(src="img/avatar-1.jpg", alt="")
  div.google-busqueda
    div.img-logo
      img(src="img/google.png", alt="")
      form(action="").input-busqueda
       input(type="text")
  div.buttons-inferior
      button Buscar con Google
      Button Me siento con suerte
  div.parrafo-inferior
    p Ofrecido por Google en: 
      a(href="#") Español (Latinoamérica) Quechua